<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nolan Frazelle's Recipe Book</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Nolan Frazelle's Vegan Recipe Book</h1>

    <p>Note: I will use terms that do not imply the product is vegan but I am using the most convient alternative that I have. Another note: these recipes are either from other people or recipes I have made vegan</p>

    <h2>Add a recipe:</h2>

    <form action="/addRecipe" method="POST">
        <input type="text" placeholder="Name of Recipe" name="recipeName">
        <input type="text" placeholder="Number of Ingredients" name="ingredientsNumber">
        <input type="text" placeholder="Number of Instructions" name="instructionsNumber">
        <input type="submit">
    </form>
    

    <ul></ul>

    
</body>
</html>